/*---------- Body ------------------*/
*{
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-rows: auto 500 100%;
  background-color:  rgb(180, 180, 180);
  font-family: Arial, Helvetica, sans-serif;
}

.flex{
  display: flex;
}
h1,
h2,
h3{
  text-align: center;
  margin: 20px;
}
/*---------- Header ----------------*/
header{
 background-color: rgb(100, 100, 100);
 grid-row: 1;
 color: azure;
}

/*---------- Aritcle ---------------*/
article{
  grid-row: 2;
  background-color: rgb(180, 180, 180);
  max-width: 1200px;
  margin: auto;
}

article.flex{
  justify-content: space-between;
  flex-wrap: wrap;
}

img{
  width: 200px;
  margin: auto;
}

section.flex{
  max-width: 240px;
  padding: 20px; 
  margin: auto;
  flex-direction: column;
  
}
section.flex:after{
  align-content: space-between;
}

/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
